---
import { client } from "../../.tina/__generated__/client.js"
import Layout from "../layouts/Layout.astro";
import { Service, ServiceConnectionEdges } from "../../.tina/__generated__/types";

const serviceResponse = await client.queries.serviceConnection()
  // @ts-ignore
const serviceEdges: ServiceConnectionEdges[] = serviceResponse.data.serviceConnection.edges || []

const services = serviceEdges.map((service: ServiceConnectionEdges) => {
  const lifecycle = service.node?.lifecycle || [];
  const length: number = lifecycle?.length || 0
  const productOwner = service.node?.product_owner?.name;
  const dateString: string = service.node?.last_updated ? new Date(service.node?.last_updated).toLocaleDateString('de') : 'unknown'

  return {
    id: service.node?.id,
    name: service.node?.name,
    status: lifecycle[length -1]?.state,
    product_owner: productOwner,
    lastUpdated: dateString,
  }
});
---
<style>
   tr:nth-child(even) {
    background-color: rgba(82, 29, 58, 0.2);
  }
</style>

<Layout title="Services">
  <main class="container mx-auto p-5 text-lg">
    <h1 class="mb-4 mt-5 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-neutral-800">
      Services
    </h1>
    <table cellpadding="7" class="w-full table-auto">
      <thead style={{
        fontWeight: 'bolder',
        borderBottom: '2px solid',
      }}>
        <tr>
          <td>Name</td>
          <td>Status</td>
          <td>Product Owner</td>
          <td>last updated</td>
        </tr>
      </thead>
      {services?.map((service) => <tr>
        <td> 
          <a class="text-brombeer hover:underscore" href={`/it-landscape/services/${service.name}`}>
            {service.name}
          </a>
          </td>
          <td>
           <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">{service.status}</span>
          </td>
          <td>
            {service.product_owner}
          </td>
          <td>
            {service.lastUpdated}
          </td>
        </tr>) }
    </table>
  </main>
</Layout>
